extend layout

block title
  title= site.title

block content
  each post in posts
    article.post-item
      header.post-item__header
        h1
          a(href=post.url)= post.title.text
        span.post-item__meta
          time= post.date.text
      section.post-item__desc
        != post.desc.html

  nav.nav
    if prevPage
      a(href=prevPage).nav__left ⇜ Prev
    if nextPage
      a(href=nextPage).nav__right Next ⇝
