doctype html
html(dir='LTR' lang='en')
  head
    include head

  body
    header.site-header
      a(href='/')
        h1.site-header__title= site.title
      p.site-header__desc= site.description

    main.main-content
      block content

    footer.site-footer
      | (͠◉_◉᷅ )
      br
      block footer
        | If you think my blog is awesome, please 
        a(href='/rss.xml', target='_blank') subscribe to RSS
        |, share it to you 
        a(href='https://twitter.com/intent/tweet?url=#{site.site_url}&text=#{site.title}&via=denysdovhan', target="_blank") followers in Twitter
        |  and 
        a(href='https://www.facebook.com/sharer.php?u=http://denysdovhan.com/#{site.site_url}&t=#{site.title}', target="_blank") friends in Facebook

    include analytics
