extends layout

block title
  title= post.title.text

block meta
  meta(property='description', content=post.desc.text)

  meta(name='og:url', content=site.site_url + post.url)
  if (post.image)
      meta(name='og:image', content=post.image.src)
  meta(name='og:title', content=post.title.text)
  meta(name='og:description', content=post.desc.text)

block content
  article.post-item
    header.post-item__header
      h1= post.title.text
      span.post-item__meta
        time= post.date.text
        |  — 
        a(href='https://github.com/denysdovhan/denysdovhan.github.io/edit/premaster/posts/#{post.url}.md') edit on github
    section.post-item__content
      != post.content.html

block footer
  | If you think «#{post.title.text}» is awesome, please 
  a(href='/rss.xml', target='_blank') subscribe to RSS
  |, share it to you 
  a(href='https://twitter.com/intent/tweet?url=http://denysdovhan.com/#{post.url}&text=#{post.title.text}&via=denysdovhan', target="_blank") followers in Twitter
  |  and 
  a(href='https://www.facebook.com/sharer.php?u=http://denysdovhan.com/#{post.url}&t=#{post.title.text}', target="_blank") friends in Facebook
